[submodule "test/integration/test_w_apache"]
	path = test/integration/test_w_apache
	url = https://github.com/haapp/serverspec-w_apache.git
[submodule "test/fixtures/roles"]
	path = test/fixtures/roles
	url = https://github.com/haapp/serverspec-roles.git
